/* Stylesheet for Project 01 */

body {
	font-family: "trebuchet ms", palatino, georgia, helvetica, arial, sans-serif;
	letter-spacing: -0.25px;
	line-height: 1.8em;
	margin-top: 0px; 
	margin-bottom: 50px;
	background-color: white; 
	font-size: 15.5px;
	margin-right: 0;
	margin-left: 0;
}

/*Container for Layout*/

.container {
	margin: 0 auto;
	width: 93%;
	max-width: 800px;
	display: grid;
}

.box {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 5px;
	height: auto;
	margin-bottom: 10px;
	margin-top: 4px;
	background-color: #f2f2f2;
	padding-left: 13px;
	padding-right: 13px;
	border-radius: 10px;
}

/* Formatting for Banner & Navigation*/

.banner{
	background-color: white;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 5px solid #f7d543;
	margin-bottom: 5px;
}

.banner h1 {
	margin-top: 0;
	padding-top: 15px;
	margin-left: 400px;
	font-size: 40px;
	color: #004a4a;
}

.menu ul {
	list-style-type: none;
	padding-left: 0; 
	display: flex;
	justify-content: space-around;
	max-width: 800px;
	margin-right: 400px;

}

.menu a{
	text-decoration: none;
	color: #799351;
	display: block;
	border-radius: 10px;
	background-color: ;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	border: solid;
}

.menu a:hover {
	color: #e07b7b;
	background-color: #d1d1d1;
	transition: background-color 0.2s ease-in;

}

.menu a.is-current {
	color: #e07b7b;
	background-color: #415424;
	transition: background-color 0.1s ease-in;
}

/* Formatting for imgages */

.restrict {
	max-width: 400px;
	float: right;
	max-height: 400px;
	padding: 5px;
}

/* Formatting Headings */

/* Formatting for Footer*/