div{
    border: 1px solid hotpink; 
    padding:5px;
}

.firstRow{
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-auto-rows: minmax(50px,auto);
}

.secondL{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.secondRow{
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-auto-rows: 500px;
}
.thirdRow{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-auto-rows: 250px;
}
.fourthRow{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sixthRow{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-auto-rows: minmax(500px, auto);
}
.moreLogos{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}


